<div class="dashboard-container py-10px">
    <span class="float-left pl-10px">Dashboard</span>
    <span class="float-right pr-10px font-14px">Home</span>
</div>
<br>
<div class="flex-row">
    <div class="analytics-data mx-5px ">
        <div class="flex-row">
            <div class="flex-card-element"></div>
            <div class="flex-card-element"></div>
            <div class="flex-card-element"></div>
        </div>
        <div class="flex-row">
            <div class="flex-card-element"></div>
            <div class="flex-card-element"></div>
        </div>
    </div>
   
    <div class="chat-bot">
        <app-chitta-assistant></app-chitta-assistant>
    </div> 
</div>
