/* You can add global styles to this file, and also import other style files */
/* some commonly used utility css classes */
*{
    font-family: sans-serif;
}
body{
    margin: 0;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.pl-10px{
    padding-left: 10px;
}

.pr-10px{
    padding-right: 10px;
}

.py-10px{
    padding:10px 0
}

.px-15px{
    padding:0 15px;
}

.mx-5px{
    margin: 0 5px;
}

.w-100{
    width: 100%;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.font-14px, .average-call-section td,.average-call-section th{
    font-size: 14px;
}