.chatbot-header{
    background: #636363;
    margin: 0;
    padding: 12px 15px;
    color: #decb02;
}
button{
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    line-height: 1;
    border-radius: .3rem;
    margin: 7px 0;
    border: 1px solid #d1d1d1;
}
.btn-primary{
    background: #ddcc00;
}
.btn-secondary{
    background: #fff;
}
td, th{
    padding: 7px 0;
}
.average-call-section{
    background: #f8f8f8;
}
.bb-grey{
    border-bottom: 1px solid #d1d1d1;
}
.text-bold{
    font-weight: 700;
}