<h4 class="chatbot-header">Chitta Assistant</h4>
<div class="px-15px">
    <h4>Greetings, Mr. John</h4>
    <p class="font-14px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac felis nunc. Mauris tempor</p>
    <div class="average-call-section">
        <table class="w-100">
            <tr>
            <th colspan="2" class="text-left">Average Call handled</th>        
            </tr>
            <tr>
            <td class="bb-grey">Lorem ipsum dolor</td>
            <td class="text-right bb-grey">10 calls per Hrs</td>
            </tr>
            <tr>
            <td>Lorem ipsum dolor</td>
            <td class="text-right">10 calls per Hrs</td>
            </tr>
        </table>
    </div>
    <p class="font-14px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac felis nunc.</p>
    <div>
        <button type="button" class="btn-secondary">Investigate changes in usage</button>
        <button type="button" class="btn-secondary">Change service plan</button>
        <button type="button" class="btn-primary">Analyze usage in <span class="text-bold">Data Central</span></button>
    </div>
</div>